body,
.font_a,
button,
input,
input {
  font-family: "Roboto Condensed";
}
button {
  height: 1.75em;
}
table,
table button {
  font-size: 0.9em;
}
.ui-row {
  display: inline-flex;
  justify-content: flex-start;
  width: 100%;
  max-width: 100vw;
}
.column {
  /*flex: 50%;*/
  margin-left: 25px;
  display: flex;
  flex-direction: column;
}
#animation-column {
  width: 20vw;
  min-width: 300px;
}
#form-column {
  min-width: 20vw;
}
#animation-column > div {
  width: 100%;
}
#video-controls-row {
  display: inline-flex;
  justify-content: space-between;
  margin-top: 8px;
}
#video-mode-col {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  gap: 4px;
}

#section-guide {
  overflow: hidden;
}
#section-guide-list {
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  padding: 0px 12px;
  position: relative;
}
#section-arrow {
  position: absolute;
  width: 16px;
  font-size: 24px;
  font-weight: bold;
  top: 0;
  animation: top 500ms;
}
.section-nav {
  cursor: pointer;
  margin-left: 16px;
  display: inline-block;
  word-break: break-word;
  max-width: 280px;
  margin-top: 2px;
  margin-bottom: 2px;
  font-size: 16px;
}

.division {
  font-size: 14px;
  margin-left: 40px;
}

.moment {
  font-size: 12px;
  margin-left: 56px;
}

.section-color-picker {
  border-width: 2.5px;
  border-style: solid;
}

#player {
  max-width: 70vw;
}
