body,
.font_a,
button,
input,
input {
  font-family: "Roboto Condensed";
}
button {
  height: 1.75em;
}
table,
table button {
  font-size: 0.9em;
}
.ui-row {
  display: inline-flex;
  justify-content: flex-start;
  width: 100%;
  max-width: 100vw;
}
.column {
  /*flex: 50%;*/
  margin-left: 25px;
  display: flex;
  flex-direction: column;
}
#animation-column {
  width: 20vw;
  min-width: 300px;
}
#form-column {
  min-width: 20vw;
}
#animation-column > div {
  width: 100%;
}
#video-controls-row {
  display: inline-flex;
  justify-content: space-between;
  margin-top: 8px;
}
#video-mode-col {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  gap: 4px;
}

#section-guide {
  overflow: hidden;
}
#section-guide-list {
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  padding: 0px 12px;
  position: relative;
}
#section-arrow {
  position: absolute;
  width: 16px;
  font-size: 24px;
  font-weight: bold;
  top: 0;
  animation: top 500ms;
}
.section-nav {
  cursor: pointer;
  margin-left: 16px;
  display: inline-block;
  word-break: break-word;
  max-width: 280px;
  margin-top: 2px;
  margin-bottom: 2px;
  font-size: 16px;
}

.division {
  font-size: 14px;
  margin-left: 40px;
}

.moment {
  font-size: 12px;
  margin-left: 56px;
}

.section-color-picker {
  border-width: 2.5px;
  border-style: solid;
}

#player {
  max-width: 70vw;
}

.dial-0 {
  border-radius: 50%;
  width: 100%;
  aspect-ratio: 1 / 1;
  position: absolute;

  display: flex;
  justify-content: center;
  align-items: center;
}

.dial-1 {
  border-radius: 50%;
  width: 75%;
  aspect-ratio: 1 / 1;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 25%;
  left: 12.5%;
}

.circle-mask {
  width: 80%;
  height: 80%;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#dial-container {
  overflow: hidden;
  aspect-ratio: 2/1;
  position: relative;
}

#dial-indicator {
  width: 28%;
  height: 4px;
  background-color: #222;
  position: absolute;
  left: 22%;
  top: calc(100% - 4px);
  transform-origin: 100% 100%;
  z-index: 1;
  transition: transform 40ms;
}

#play-button {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  z-index: 2;
  background-color: wheat;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

#play-button > img {
  width: 50%;
  height: 50%;
}
